.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.content {
  margin: 8rem 3rem;
}

.bg-green {
  background-color: rgb(217, 245, 217);
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}