{% load static %}

<!DOCTYPE html>
<html>

<meta charset="UTF-8">

<head>
    <title>{% block title %}About{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top bg-green navbar-light" id="nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/icon.png' %}" alt="Logo" draggable="false" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'menu' %}">
                            Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'book' %}">
                            Reservation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'about' %}">
                            About Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">

        <section class="py-3 py-md-3 py-xl-8">
            <div class="container">
                <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                    <div class="col-12 col-lg-6 col-xl-5">
                        <img src="{% static 'images/logo.png' %}" class="mx-auto d-block" alt="icon" height="350"
                            style="margin: 0 auto;">
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="row justify-content-xl-center">
                            <div class="col-12 col-xl-11">
                                <h2 class="h1 mb-3" style="width: 80%;  margin: 0 auto; text-align: center;">Who Are We?
                                </h2>
                                <p class="lead fs-4 text-secondary mb-3"
                                    style="width: 80%;  margin: 0 auto; text-align: justify;">Welcome to our chain of
                                    restaurants, a culinary
                                    corner that has
                                    conquered North America with its exquisite gastronomic offerings. With more than 10
                                    strategic locations in the main cities of the continent, we are proud to be the
                                    favorite
                                    destination for lovers of good food and hospitality.</p>
                                <p class="mb-5" style="width: 80%;  margin: 0 auto; text-align: justify;">Our commitment
                                    is simple but powerful: fusing tradition with
                                    innovation. Every dish that leaves our kitchens is a masterpiece carefully crafted
                                    by
                                    our talented chefs. From classic homemade flavors to avant-garde creations, every
                                    bite
                                    is a unique experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="jumbotron p-2 p-md-2 text-white rounded bg-warning"
            style="width: 80%; margin: 0 auto; text-align: center;">
            <h3 class="display-4 font-italic">Join us</h3>
            <h4 class="lead my-3">Discover why we are so much more than a restaurant. We are a dining experience that
                leaves an impression on the palate and the heart</h4>
        </div>

    </div>

    <footer class="bg-body-tertiary text-center bg-green-dark">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-body" href="https://www.linkedin.com/in/valentinavarelaalzate/">Varela AV Company</a>
        </div>
    </footer>

</body>

</html>