{% load static %}

<!DOCTYPE html>
<html>

<meta charset="UTF-8">

<head>
  <title>{% block title %}Little Lemon{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="icon " href="{% static 'images/icon.png' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top bg-green navbar-light" id="nav">
        <div class="container">
          <a class="navbar-brand" href="#"
            ><img
              src="{% static 'images/icon.png' %}"
              alt="Logo"
              draggable="false"
              height="60"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'home' %}"><i class="fas fa-plus-circle pe-2"></i>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i>Reservation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'about' %}"><i class="fas fa-heart pe-2"></i>About</a>
              </li>
              <li class="nav-item ms-3">
                <a class="btn btn-black btn-rounde" href="#!">Log in</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="content">
        
        <footer class="bg-body-tertiary text-center bg-green">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2024 Copyright:
              <a class="text-body" href="https://www.linkedin.com/in/valentinavarelaalzate/">Varela AV Company</a>
            </div>
        </footer>

    </div>
    

</body>

</html>